<div class="requisitionModel J_images_upload" id="div_<%= id%>" onMouseOut="in_element('<%= id%>')" onMouseOver="out_element('<%= id%>')">
	<input type="hidden" name="list[<%= id%>]type" value="file"/>
	<input type="hidden" name="list[<%= id%>]must" id="<%= id%>_must" value="<%= hash.blank? ? 0 : hash["must"]%>"/>
	<input type="hidden" name="list[<%= id%>]title" id="<%= id%>_title" value="<%= hash.blank? ? "图片上传：" : hash["title"]%>"/>

	<p class="requisitionLabel_text text_color"><%= hash.blank? ? "图片上传：" : hash["title"]%></p>
	<input type="text" class="requisitionUploadPic input_upload" >
  <input type="button" class="requisitionUploadPic iconRequisition input_button" value="上传" />
  <% if hash.blank? || hash["must"] == "0"%>
    <span class="required">*</span>
  <% else %>
    <span class="required" style="display: none;">*</span>
  <% end %>
  <div class="addOperating">
  	<div class="requisitionModel_bg"></div>
  	<span class="iconRequisition icon_move_model"></span>
  	<a href="javascript:del_element('<%= id%>');" class="iconRequisition icon_delete_model J_delete_model"></a>
  	<a href="<%= manager_link("/admin/page/edit_file/#{id}?must=#{hash.blank? ? 0 : hash["must"]}")%>" data-remote="true" class="iconRequisition icon_editor_model J_editor_images_upload">编辑</a>
  </div>
</div> 