<div class="requisitionModel J_dividing_line" id="div_<%= id%>" onMouseOut="in_element('<%= id%>')" onMouseOver="out_element('<%= id%>')">
	<input type="hidden" name="list[<%= id%>]type" value="line"/>
	<label class="requisitionLabel">
		<div class="requisitionLine line_color"></div>
	</label>
	<div class="addOperating">
		<div class="requisitionModel_bg"></div>
		<span class="iconRequisition icon_move_model"></span>
		<a href="javascript:del_element('<%= id%>');" class="iconRequisition icon_delete_model J_delete_model"></a>
	</div>
</div>   