<div class="requisitionModel J_radio">
	<p class="requisitionLabel_text text_color"><%= hash["title"]%></p>
	<% hash["value"].each_with_index do |val, i|%>
		<label class="requisitionLabel ">
			<input type="radio" class="requisitionGender"  <%= "checked" if i == 0%> name="list[<%= id%>]value" value="<%= val%>"><%= val%>
		</label>
	<% end %>
	<% if hash["must"] == "0"%>
		<span class="required">*</span>
	<% end %>
	<input type="hidden" name="list[<%= id%>]type" value="radio"/>
</div>